@model IEnumerable<MinhasCompras.Models.Item>

@{
    ViewData["Title"] = "Minha Lista";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tbody>        
        @foreach (var item in Model)
        {
            <tr class="tr_clone row @(@item.Checked == true ? "item-checked" : "")">
                <td>
                    <input type="hidden" class="ID" name="id[]" value="@item.ID" />
                    <input type="checkbox" class="input_item_check" name="checked[]" />
                    <input type="text" class="input_item" name="Nome[]" value="@item.Nome" />
                    <button type="button" class="add btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="remove btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>
